<div>
<h1>Watercraft Sales System</h1>
</div>

<div>
<%= link_to "Customers", customers_path, class: "btn btn-primary" %>
<%= link_to "Waverunners", waverunners_path, class: "btn btn-primary"  %>
<%= link_to "Trailers", trailers_path, class: "btn btn-primary"  %>
<%= link_to "Accessories", accessories_path, class: "btn btn-primary"  %>

</div>