
body {

        background-color: rgb(32, 32, 32);
        background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
        background-size: 10px 10px, 10px 10px, 10px 5px;
        background-position: 0px 0px, 5px 5px, 0px 0px;
        color: white;
}

.table-responsive-md table {
  color: white;
}
a {
  color: white;
  text-decoration: none;
}

/* Default styles for the carousel */
.carousel-item img {
    height: 400px;
    object-fit: cover;
  }
  
  /* Media query for screens larger than 992px */
  @media (min-width: 992px) {
    .carousel-item img {
      height: 500px;
    }
  }
  
  /* Media query for screens between 768px and 991px */
  @media (min-width: 768px) and (max-width: 991px) {
    .carousel-item img {
      height: 450px;
    }
  }
  
  /* Media query for screens smaller than 768px */
  @media (max-width: 767px) {
    .carousel-item img {
      height: 300px;
    }
  }
  